* {
    margin:  0;
    padding:  0;
    box-sizing: border-box;
}

body{

    font-family: 'Open Sans', sans-serif;

}

.title,.title-2 {

    font-family: 'Zilla Slab';
    margin-bottom: 30px;
}

.subtitle{
    font-size: 16px;
}

.inro-descrption{
    padding: 30px;
}


.apply-button{
    color: white;
    background-color: #c2195b;
    border-radius: 25px;
    font-size: 10 em;
    padding: 10px;
}
nav *{
    
    background-color: white;
    display: inline;
   
    

}



.nav {
    
    
    padding-right: 1rem;
    display: inline;
    
    width: 100%;

    
}

/*.front-bg *{

        background-color: black;
        opacity: 50%;
        height: 200px;
        position: fixed;
        border-color: hotpink;
        border: solid;
}*/

.right-nav {
    display: inline;
    float: right;
    position: relative;

}

.top-nav{

        display: inline block;
        background-color: white;
        width: 100%;
        position:  absolute;

}


 .nav-logo{
    width: 100%;
    margin:none;
    position: absolute;
    display: inline;
    background-color: white;
    float:  left;

 }

.tuitt-button{
    color: white;
    background-color: #c2195b;
    border-radius: 25px;
    font-size: .8rem;
    padding: .1rem;
   
}

#bg-image{
    
    height: 400px;
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-size: 100%;
    background-position: center bottom;
    width: 100%;
    background-attachment: fixed;
}
.container {
    margin-top: 30px;
    height: 370px;
    color: white;
    text-align: right;
    padding-top: 50px;
    padding-left: 70%;
    position: relative;
   
    background-color: black;
    opacity: 50%;
    position: relative;
    display: inline-block;

} 

.intro {
    padding: 30px;
    text-align: center;
    background-color: white;
    padding-bottom: 100px;
}

.pre-footer{
    padding: 30px;
    text-align: center;
    background-color: #f7fbfb;
    padding-bottom: 100px;
}

.book-button{
    padding: 10px;
    background-color: #336589;
    border-radius: 25px;

}

footer{
    text-align: center;
}