#div-1{
	background-color: green;
}

#span-1 {
	background-color: purple;
	display: none;
	width: 200px;
	height: 200px;
}

#div-2 {
	background-color: red;
	display: block;
}

#span-2 {
	background-color: hotpink;
	display: block;
}

img {
	display: inline-block;
	width: 250px;
	height: 250px;

}

#p-1{
	background-color: #87CEFA;
}

#p-2 {
	background-color: rgb(255,105,180);
	width: 60%;
}

#p-3 {

	background-color: yellow ;
	width: 40%;
}

.sample {
	display: inline-block;
	width: 30%;
	border: 1px solid black;
	text-align: center;
}

.img-float {
	width: 250px;
	height: 250px;
	float: right;

}

.box {
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent {
	width:  50%;

}

.one-hundred-pixels {
	width: 100px;
}


.parent {
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
}

.fifty-vw {
	width: 50vw;

}

.twenty-five-vh{

	height: 25vh;
}

.one-rem{
	font-size: 1rem;
}

.one-em {
	font-size: 1em;
}

.two-rem {
	font-size: 2rem;
}

.two-em{
	font-size: 2em;
}

.two-hundred-percent{

	font-size: 200%;
}

.background {
/*	min-height: 20rem;
*/	min-height: 20rem;
	/*background-color: gray;*/
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	background-attachment: fixed;

}


.bg-title{
	color: white;
	text-align: center;
	font-size: 5em;
	line-height: 35 rem;
	padding: 0;

}

.parent-element{

	background-color: skyblue;
	position: relative;
	padding: 50px 10px;
	height: 800vh;
}

.child-one {
	background-color: gray;
	padding: 10px;
}

.child-two {
	background-color: yellow;
	padding: 10px;
	position: sticky;
	/*left: 10px;
	bottom: 10px;*/
	top: 0px;

}

.child-three {

	background-color: gray;
	padding: 10px;

}


.container{
	position: relative;
}

.black-box{
	position: relative;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}

.gray-box {
	position: absolute;
	z-index: 3;
	background-color: lightgray;
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;
}

.green-box{

	position: absolute;
	z-index: 2;
	background-color: lightgreen;
	width: 35%;
	left: ;
}